.pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding-top: 9rem; /* Equivalente a py-36 */
  flex-grow: 1;
}

.pageChildren {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.combined {
  position: absolute;
  left: 0;
  top: 0.25rem;
  height: 20500px;
  width: 20500px;
  transform: translateX(-47.5%);
  border-radius: 9999px;
  background-image: var(--background)
}

.container_flex {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 1rem; /* Equivalente a px-4 */
  padding-right: 1rem; /* Equivalente a px-4 */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}

.heading {
  font-size: 1.875rem; /* Equivalente a text-3xl */
  font-weight: 600; /* Equivalente a font-semibold */
  line-height: 1.25; /* Equivalente a leading-tight */
  letter-spacing: -0.025em; /* Equivalente a tracking-tight */
  color: var(--text);
}

.main {
  margin-top: 1.5rem;
  color: var(--text-secondary);
}

.link {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  padding-top: 5rem;
}

@media (min-width: 768px) {
  .heading {
    font-size: 2.5rem;
  }

  .main {
    font-size: 1.125rem;
  }

  .link {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .link {
    gap: 1.5rem; /* Ajusta el gap para lg:gap-12 */
  }
}
